@charset "utf-8";
/* CSS Document */

/*工作台页面*/
.box{ margin-bottom:20px; margin-left:10px;}
.box_title{ height:38px; width:100%; margin-bottom:10px; border-bottom:1px solid #d3d3d3; font-size:14px; line-height:38px; font-weight:bold;}
.input_textarea{ height:30px; border:1px solid #ccc; padding:5px; }
.input_text{ height:26px; line-height:26px; border:1px solid #ccc; padding-left:5px;}
.input_text:focus, textarea:focus{ border-color: #23b929;}
.table_col2{ width:100%;}
.table_col2 .w50p{ width:50%; *width:49%; line-height:26px; padding:10px 0; float:left;}
.table_col2 .w100p{ width:100%; height:26px; line-height:26px; padding:10px 0;}
.table_col2 .select{ width:45%; float:left; line-height:12px; padding-left:5px;}
.table_col2 .label{ width:65px; padding-left:5px; float:left;}
.table_col2 .select input[type=radio]{ margin:0 3px 0; *margin-top:-5px;}
.table_col2 input[type=radio]{ display:block; margin:6px 3px 0; *margin-top:2px;}
.table_col2 a{color:#458bdf; padding:0 10px;}

.select_tree{ background:#fff; width:220px; overflow:auto; height:400px;}

#tabs_wrap{ position:relative;width:100%; height:30px; background:#fff url(../images/line1.png) left bottom repeat-x; overflow:hidden; }
#tabs{ position:absolute; left:11px; right:11px;height:30px; clear:both; overflow:hidden;}
#tabs_cont{position:absolute; left:0;height:30px; width:9999px;}
#tabs .prev,#tabs .next{ display:none; position:absolute; width:10px; height:28px; margin-top:2px; background: url(../images/tab_arow.png) no-repeat;}
#tabs .prev{ background-position:left 0; left:0;}
#tabs .prev:hover{background-position:left -28px;}
#tabs .next{ background-position:right 0; right:0;}
#tabs .next:hover{ background-position:right -28px;}

#tabs span{height:28px; line-height:28px; padding:0 5px; margin:2px 1px 0; float:left; display:block; overflow:hidden; border:1px solid #ddd; border-bottom:none;}
#tabs span label{ display:block; float:left;}
#tabs span button{width:16px; height:16px; margin:3px 0 0; border:none; background:url(../images/tabs_close.png) no-repeat; float:left; cursor:pointer}
#tabs .span_act{ height:25px; background:#fdfdfc;}
#tabs .span_sel{height:26px; color:#fff; border:1px solid #1f4784; border-bottom:none; background:#295aa6}
#tabs .span_sel button{background-position:0 -32px;}

/*环节库页面*/
.ku_search{ height:43px; width:100%; background:url(../images/ku_search_bg.png) repeat-x bottom;}
.ku_search .btn{width:50px; padding-left:40px; border-right:1px solid #cccccc; background:url(../images/ku_search.png) no-repeat 20px 15px #fff; height:43px; line-height:43px; font-size:14px;}
.term{ padding:15px 0 15px 10px; border-bottom:1px solid #ccc; overflow:hidden; position:relative; height:32px;}
.term .left{float:left; width:78%;}
.term .btn_group{position:absolute; right:40px; height:32px; top:50%; width:120px; margin-top:-16px; }
.term .btn_group a{padding:0 15px;}
.term .btn_group a:hover{background:#dedede; color:#6b6b6b;  border:1px solid #c3c3c3;}
.term .btn_group a.active:hover{background:#1f4784; color:#fff; border:1px solid #285aa5; border-right:none;}
.term a.arrow{ position:absolute; right:0; top:0; bottom:0; width:40px;}
.term a.arrow_down{ background:url(../images/d_arrow_01.png) no-repeat center;}
.term a.arrow_down:hover{background:url(../images/d_arrow_01.png) no-repeat center #ebecf2;}
.term a.arrow_up{ background:url(../images/d_arrow_02.png) no-repeat center;}
.term a.arrow_up:hover{background:url(../images/d_arrow_02.png) no-repeat center #ebecf2;}

.term .left .w280{width:280px; height:32px; line-height:32px; margin-bottom:15px; float:left; font-weight:bold;}
.w280 span{padding-right:10px;}
.w280 .input_text{height:30px; line-height:30px;}
.table_box{ margin-left:10px;}
.data_title { border-bottom: 1px solid #94acd2; }
.data_title span { display: inline-block; padding: 4px 6px; color: #295aa6; font-size: 16px; border-bottom: 3px solid #295aa6; }
.table_box .content{padding:10px;}
.btn_group{ display:inline-block; height:32px;}
.btn_group a{float:left; display:block; height:30px; line-height:30px; padding:0 10px; background:#efefef; color:#6b6b6b; border:1px solid #c3c3c3; border-right:none;}
.btn_group a:hover,.btn_group a.active{background:#285aa5; color:#fff; border:1px solid #285aa5; border-right:none;}
.btn_group a.last{ border-right:1px solid #c3c3c3;}

.table_box .uf_search{ width:230px; padding:0;}
.table_box .uf_search .uf_inp_serbtn{top:0px; right:-2px;}

.link{ margin: 26px 15px 12px 0;}
.link table { border: 1px solid #ccc; }
.link table th { height: 36px; background: #eaf2f5; text-align: center; border-bottom: 1px solid #ccc; color: #5d5d5d; font-weight:bold;}
.link table .even{background-color:#fff;}  
.link table .odd{ background-color:#fff;}  
.link table .d{ background-color:#e9e9e9;}  
.link table .input1{background:#e9e9e9;}  
.pages { margin-right: 15px; border: 1px solid #ccc; border-radius: 4px; }
.pages a { display: inline-block; float: left; height: 34px; line-height: 34px; color: #444; text-align: center; }
.pages a.prev, a.next { width: 52px; }
.pages a.next { border-left: 1px solid #ccc; }
.pages a.num { width: 32px; border-left: 1px solid #ccc; }
.pages a.num:hover { background: #2d65e8; color: #fff; border-left:1px solid #2d65e8; }
.pages a.curnum{width: 32px; background: #2d65e8; color: #fff; border-left:1px solid #2d65e8;}
.link table td { height: 36px; text-align: center; border-bottom: 1px solid #ccc; color: #737373; line-height:36px;}
.link table td.line1{color:#3c8aff;word-break:break-all;}
.link table td a{ display:block; float:left; margin:3px; width:18px; height:18px; border:1px solid #c3c3c3; text-align:center; line-height:18px;}
.link table td.operate{width:120px; padding-left:20px;}

.link table td a.write{background:url(../images/iconModify.png) left top #f1f1f1;}
.link table td a.write:hover{background:url(../images/iconModify.png) left bottom #285aa5;}
.link table td a.delete{background:url(../images/iconDelete.png) left top #f1f1f1;}
.link table td a.delete:hover{background:url(../images/iconDelete.png) left bottom #285aa5;}
.link table td a.system{background:url(../images/iconSystem.png) left top #f1f1f1;}
.link table td a.system:hover{background:url(../images/iconSystem.png) left bottom #285aa5;}
.link table td a.add{background:url(../images/iconAdd.png) left top #f1f1f1;}
.link table td a.add:hover{background:url(../images/iconAdd.png) left bottom #285aa5;}
.link th .sort{ display:inline-block; width:8px; height:10px; *height:14px;}
.link a.arrow{ display:block; width:8px; height:6px; background:url(../images/table_arrow.png) no-repeat;}
.link a.arrow_up{background-position:right top;}
.link a.arrow_up:hover{background-position:left top;}
.link a.arrow_down{background-position:right bottom;}
.link a.arrow_down:hover{background-position:left bottom;}


/*--流程定制页面-*/
.tree{overflow:hidden;}
.tree .tree_title{margin: 8px 0 15px 15px;border-bottom: 1px solid #94acd2;}
.tree .tree_title span{display: inline-block;padding: 4px 6px;color: #295aa6;font-size: 16px;border-bottom: 3px solid #295aa6;}
.menu{overflow-y:scroll;position:absolute;top:50px;left:15px;right:0;bottom:80px;}
.menu li{position: relative;border-left: 1px solid #ccc;padding-left: 15px;margin-left:15px;}
.menu span{position: absolute;width: 15px;height: 15px;top:8px;left: -8px;}
.menu span.first{top:0;left: -8px;background: #fff;}
.menu span.last{width: 15px;height: 30px;top:23px;left: -8px;background: #fff;}
.menu span.start{background: url(../images/start.png) no-repeat;}
.menu span.wrong{background: url(../images/wrong.png) no-repeat;}
.menu span.un{background: url(../images/un.png) no-repeat;}
.menu li a{padding: 5px;display: inline-block;margin-bottom: 14px;font-size: 14px;color:#797979;}
.menu li a:hover{background: #e7e7e7;}
.menu li a.haschild{margin-bottom: 8px;}
.menu .child{display:none;margin-left: 20px;position:relative;}
.menu .child ul li{border-left: 2px solid #ccc;padding-left: 8px;}
.menu .child ul li span.diot{position: absolute;width: 8px;height: 8px;top:13px;left: -5px;background: url(../images/diot.png) no-repeat;}
.menu .child ul li a{font-size: 12px;margin: 4px 0;}
.picture{margin: 100px 15px 40px ;overflow:auto;}
.bottom{padding: 10px 20px;border-top:1px solid #d3d3d3;border-right:1px solid #d3d3d3;border-radius: 0 30px 0 0;width: 268px;height:30px;font-size: 14px;color:#797979;}
.bottom span{margin: 0 5px -8px 0;display: inline-block;width: 30px;height: 30px;}
.bottom span.people{background: url(../images/people.png) no-repeat;}
.bottom span.auto{background: url(../images/auto.png) no-repeat;}
.tree_bottom{font-size: 14px;color: #4a4a4a;background: #f8f8f8;position: absolute;bottom:0;height:30px;left:0;right:0; padding-left:10px; line-height:30px;}
.tree_bottom span{margin-right: 8px;}
.tree_bottom span.last{margin-right: 0;}
.tree_bottom span.green{display:inline-block;width:10px;height: 10px;background: #7fd644;}
.tree_bottom span.red{display:inline-block;width:10px;height: 10px;background: #f58e84;}
.tree_bottom span.grey{display:inline-block;width:10px;height: 10px;background: #cbcbcb;}
.tree_bottom span.yellow{display:inline-block;width:10px;height: 10px;background: #fdff42;}
.c_title{margin: 0 15px; padding: 10px 10px 10px 4px;border-top:1px solid #d3d3d3;border-right:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;border-left: 5px solid #295aa6;font-size: 14px;color: #797979; display:inline-block;}
.c_title span{display: inline-block;margin: 0 5px -5px 0;width: 20px;height: 20px;background: url(../images/flow_arrow.png) no-repeat;}



